*{
    margin: 0px;
    padding: 0;
}

.header {
    background-color: #97cdd6;
    width: 100%;
    position: fixed;
    z-index:999;
    align-items: center;
    display: flex;
    justify-content: space-between;

}


#logo {
    width: 7%;


}
.nav{
display: inline;    
padding: 10px 10px;
float: right;



}
span a {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color:rgb(14, 15, 15);
    font-weight: 700;

    
}
